:root {
    --background-color:black;
    --container-color:rgb(255, 255, 255);
    --title-size:1.5rem;
    --desc-size:1.2rem;
}

body {
    background-color: cornflowerblue;
}

.title-text {
    width: 100%;
    font-size: var(--title-size);
    color: black;
    font-weight: 800;
    word-wrap: break-word;
    text-align: center;
    overflow-wrap: break-word;
    white-space: normal;
}
.desc-text {
    width: 100%;
    font-size: var(--desc-size);
    color: rgb(148, 144, 144);
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#plan-bar {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

#plan-container {
    width: 100%;
    height: 700px;
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
    background-color: var(--container-color);
}

.plan-box {
    border: 5px solid black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: khaki;
}

.title-wrap {
    display: flex;
    flex: 1;
    max-width: 20%; 
    justify-content: center;
}

.desc-wrap {
    display: flex;
    flex: 1;
    max-width: 75%;
    justify-content: center;
}

.status-wrap {
    display: flex;
    justify-content: center;
    flex: 1;
    max-width: 5%;
    padding: 0.3rem 0;
    border: 5px solid rgb(51, 3, 51);
    background-color: rgb(53, 6, 53);
    border-radius: 2rem;
    color: aliceblue;
}
.plan-box.dragging {
    opacity: 0.5;
}

#plan-dialog {
    border: none;
    width: 50%;
    height: 50%;
    overflow-x: hidden;
    border-radius: 1rem;
    background-color: cornflowerblue;
}
#dialog-container {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 3rem;
    padding: 2rem;
    align-items: center;
    background-color: cornflowerblue;
}

input {
    text-align: center;
    color: rgb(0, 0, 0);
}

.hidden-input {
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
}
.hidden-select {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
select {
    appearance: none; /* Standard property */
    -webkit-appearance: none; /* For Safari and Chrome */
    -moz-appearance: none; /* For Firefox */
    text-align: center;
    padding: 0.1rem;
}

option {
    text-align: center;
}

input::placeholder {
    font-style: italic; 
    color:gray;
}

.text-setter {
    font-size: 1rem;
    padding: 1rem;
}

.dialog-action {
    display: flex;
    gap: 3rem;
    align-items: center;
}

#plan-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}




